h1 {
  font-size: 50px;
}

.btn-fruit {
  width: 300px;
  height: 300px;
  background-color: yellow;
  font-size: 50px;
}

#mango {
  background-color: darkorange;
}

.btn-submit {
  width: 100px;
  height: 100px;
  background-color: green;
}
