h1 {
  font-size: 50px;
}

.recipe-ingredients {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0px;
}

.btn-ingredient {
  width: 300px;
  height: 50px;
  font-size: 30px;
}
.strawberry {
  background-color: red;
}
.banana {
  background-color: yellow;
}
.apple {
  background-color: springgreen;
}
.mango {
  background-color: darkorange;
}
.btn-submit {
  width: 100px;
  height: 100px;
  background-color: green;
}

.smoothie {
  width: 300px;
  height: 500px;
  opacity: 0.1;
  position: absolute;
}

.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

.hidden {
  display: none;
}
