body {
  margin: 0;
  padding: 0;
  background-image: url("Images/bg.jpg");
  background-size: cover;
}

h1 {
  font-size: 50px;
}

.glass-position {
  width: 100%;
  height: 50%;
  position: absolute;
}
.glass-container {
  width: 20%;
  height: 100%;
  position: relative;
}

.glass-container img {
  max-height: 100%;
}

.fruit-svg {
  min-height: 30%;
  /*max-height: 100%;*/
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
/*
.medium {
  max-width: 90%;
}

.small {
  max-width: 80%;
}
*/

.backboard-container {
  width: 30%;
  height: 20%;
  top: -2px;
  left: 2%;
  position: absolute;
}

.fruit-image-container img:hover {
  margin-bottom: 20px;
  transition: ease 0.5s all;
}
.fruit-position {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.fruit-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: 100%;
}

.fruit-image-container {
  height: 45%;
  width: 14%;
  margin: 0 12px 12px 12px;
  position: relative;
  display: inline-block;
}
.medium {
  width: 14%;
}
.small {
  width: 12%;
}

.table-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0;
}

.recipe-ingredients {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0px;
}

.btn-ingredient {
  width: 300px;
  height: 50px;
  font-size: 0px;
}
.strawberry {
  background-color: red;
}
.banana {
  background-color: yellow;
}
.apple {
  background-color: springgreen;
}
.mango {
  background-color: darkorange;
}
.btn-submit {
  width: 100px;
  height: 100px;
  background-color: green;
}

.smoothie {
  width: 300px;
  height: 500px;
  opacity: 0.2;
  position: absolute;
}

.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

.hidden {
  display: none;
}
